.card {
    border: 2px;
    border-radius: 14px;
    padding: 12px;
    background-color: #1C1816;
    color: #fff;
}

.h-95 {
    height: 95%;
}

.cardText {
    color: #D4D4D4;
    background: transparent;
    text-align: justify;
    font-size: 0.9rem;
}

.cardTitle {
    background: transparent;
    font-weight: 700;
}

.cardImg {
    width: 100%;
    display: block;
    overflow-clip-margin: content-box;
    overflow: clip;
    transition: transform 0.6s ease-in-out;
}

.cardImgHover:hover {
    transform: scale(1.07, 1.07);
    width: 100%;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.cardBucket {
    color: #fff;
    background-color: #E4002B;
    font-weight: 700;
    width: 135px;
    height: 40px;
    padding: 6px 3px;
    font-size: 13px;
    border-radius: 8px;
}

.cardBucketHover:hover {
    color: #fff;
    background-color: #8d001a;
}

.cPointer {
    cursor: pointer;
}

.decor {
    text-decoration: none;
}

/*-----------------------media quiery------------------------------*/
@media (max-width: 991.98px) {
    .card {
        border: 2px;
        border-radius: 14px;
        padding: 4px;
        display: inline-block;
        background-color: #1C1816;
        color: #fff;
        display: block;
    }
}