.categoryHeading {
    color: #D4D4D4;
    background: transparent;
    font-size: 30px;
}

.inlineBlock {
    display: inline-block;
}

.categoryImg {
    width: 163px;
}

/*-----------------------media quiery------------------------------*/

@media (max-width: 991.98px) {
    .categoryHeading {
        color: #D4D4D4;
        background: transparent;
        font-size: 30px;
    }
}