.Heading {
    color: #D4D4D4;
    background: transparent;
    font-size: 30px;
    position: relative;
}

.HeadingAfter::after {
    content: "";
    display: block;
    width: 85%;
    height: 1px;
    background-color: rgb(134, 134, 134);
    margin-top: 10px;
    position: absolute;
    left: 15%;
    top: 35%;
}


/***************media query************************/

@media (max-width: 991.98px) {
    .Heading {
        color: #D4D4D4;
        background: transparent;
        font-size: 30px;
    }
}

@media (min-width: 0px) and (max-width: 576.98px) {
    .HeadingAfter::after {
        display: none;
    }
}

@media (min-width: 576px) {
    .HeadingAfter::after {
        content: "";
        display: block;
        width: 74%;
        height: 1px;
        background-color: rgb(134, 134, 134);
        margin-top: 10px;
        position: absolute;
        left: 30%;
        top: 35%;
    }
}

@media (min-width: 768px) {
    .HeadingAfter::after {
        content: "";
        display: block;
        width: 74%;
        height: 1px;
        background-color: rgb(134, 134, 134);
        margin-top: 10px;
        position: absolute;
        left: 23%;
        top: 35%;
    }
}

@media (min-width: 992px) {
    .HeadingAfter::after {
        content: "";
        display: block;
        width: 74%;
        height: 1px;
        background-color: rgb(134, 134, 134);
        margin-top: 10px;
        position: absolute;
        left: 23%;
        top: 35%;
    }
}

@media (min-width: 1200px) {
    .HeadingAfter::after {
        content: "";
        display: block;
        width: 80%;
        height: 1px;
        background-color: rgb(134, 134, 134);
        margin-top: 10px;
        position: absolute;
        left: 20%;
        top: 35%;
    }
}