.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
}

.left-nav {
    display: flex;
    align-items: center;
}

.left-nav .logo img {
    cursor: pointer;
    width: 90%;
}

.left-nav .delivery-btn {
    padding: 2px;
    background-color: #48413E;
    border: 0;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.left-nav .pickup-btn {
    padding: 2px;
    background-color: #48413e52;
    border: 0;
    border-radius: 16px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.right-nav {
    display: flex;
    align-items: center;
}

.right-nav label {
    display: flex;
    align-items: center;
}

.right-nav .location {
    background-color: #48413e52;
    border-radius: 24px;
    cursor: pointer;
}

.right-nav .location .loc-icon {
    color: red;
}

.right-nav button label {
    border: 0;
    color: #fff;
    font-weight: 700;
}

.right-nav button select {
    border: none;
    background-color: #48413e52;
}

.right-nav button.register-btn {
    background-color: red;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    border: 0;
    border-radius: 10px;
}

.right-nav button.cart {
    border: 0;
    background-color: transparent;
    color: #fff;
}

.bucket {
    width: 30px;
}

.loc {
    font-size: 12px;
}

.offcanvas {
    width: calc(35vw - 35px);
}

.offcanvas-header {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.offcanvas-body {
    background-color: #000;
    color: #fff;
}

#offcanvasRightLabel {
    font-size: 1.5rem;
    font-weight: 700;
}

.offcanvas .cross {
    color: #fff;
}

.modal-backdrop.show {
    opacity: .5;
    background-color: rgb(136, 136, 136);
}

.offcanvas-body {
    position: relative;
    padding: 0 18px;
}

.offcanvas-body .no-item {
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
}

.offcanvas-body .no-item h5 {
    margin-top: 20px;
}

.offcanvas-body .no-item .cart {
    color: #48413E;
    font-size: 80px;
    text-align: center;
    display: block;
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

/*-----------------------media quiery------------------------------*/
@media (max-width: 991.98px){

    .left-nav{
        display: flex;
        align-items: center;
    }
    .left-nav .logo img {
        cursor: pointer;
        width: 90%;
    }
    .header-wrapper {
        display: block;
        background-color: #000;
    }
    
.right-nav {
    display: flex;
    align-items: center;
    justify-content: end;
}
}

