.socialMedia{
    display: flex;
    align-items: center;
    justify-content: center;
}

.w46{
    width: 46px;
}
.logoImg{
    width: 90px;
}
.findUsTxt{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.footerWrapper{
    background-color: #1C1816;
}
.textDecor{
    text-decoration: none;
    color: #fff;
}
.aHover:hover{
    color: #fff;
}
.listStyle{
    list-style-type: none;
}
.fntweight{
    font-weight: 700;
    color: #fff;
}