.socialMedia{
    display: flex;
    align-items: center;
    justify-content: center;
}

.w46{
    width: 46px;
}
.logoImg{
    width: 90px;
}
.findUsTxt{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
