.social-media{
    display: flex;
    align-items: center;
    justify-content: center;
}

.w-46{
    width: 46px;
}
.logo img{
    width: 90px;
}
.find-us-txt{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}